.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* box-shadow: 0px 4px 32px 0px rgba(16, 24, 40, 0.05); */
  position: relative;

  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  max-width: 1440px;
  height: 72px;
  background-color: var(--inputs);
}

.left {
  flex: 0 0 230px; /* або auto, якщо логотип більший */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  flex: 0 0 230px;
  /* якщо в майбутньому тут буде юзер або бургер — вже готово */
}
